.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  height: 20rem;
  background-color: var(--color-secondary);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

/************************ NAV*****************************/
.nav {
  flex: 0 0 80%;
  max-width: 1695px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: inherit;
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  &-link {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;

    &-cta {
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
    &-links {
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  &-item {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.nav-alert {
  flex: 0 0 20%;
  background-color: var(--color-primary);
  min-height: 6rem;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/************************ NAV END *****************************/
.hero {
  max-width: 100vw;
  height: 80vh;
  margin: 0 auto;
  position: relative;
}

/*********************** HERO END*****************************/
.logo {
  width: 25rem;
  height: 3rem;
  border: 1px solid #ddd;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 2rem;
  font-weight: 300;
  font-family: inherit;
  text-transform: initial;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-bottom: 2px solid #ddd;
    color: var(--color-primary);
  }
}

#open {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#open-1 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.banner-btn,
.banner-btn-1 {
  padding: 1rem 6rem;
  margin: 0 1rem;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0rem;
  font-weight: 400;
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: rgb(252, 245, 245);
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.banner-btn-1 {
  background-color: rgb(66, 83, 97);
  border: 1px solid rgb(66, 83, 97);
}

.banner-btn,
.banner-btn-1:focus {
  outline: none;
}

.banner-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.banner-btn-1:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

//******************** Carousel ***************/
.carousel-item {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

#position {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title-sub {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  padding-bottom: 5rem;
  cursor: pointer;

  h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: inherit;
    font-weight: 200;
    font-style: normal;
    font-size: 4.5rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: initial;
    @media (max-width: 1280px) {
      font-size: 3rem;
    }
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
}

// h1::before {
//   content: "\201C";
//   position: absolute;
//   top: -5.75rem;
//   left: 28%;
//   line-height: 1;
//   font-size: 20rem;
//   color: var(--color-grey-light-2);
//   font-family: sans-serif;
//   z-index: 1;
//   border: 1px solid red;
// }

// h1::after {
//   content: "\201D";
//   position: absolute;
//   top: -2.75rem;
//   left: 65%;
//   line-height: 1;
//   font-size: 20rem;
//   color: var(--color-grey-light-2);
//   font-family: sans-serif;
//   z-index: 1;
//   border: 1px solid red;
// }

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

/*********************** Section-1***********************/
.about{
  max-width: 1695px;
  margin: 0 auto;
  padding: 4rem 0;
  height: 100vh;
  background-color:red;
  & h1 {
    color: #000;
  }

}


